.MainContainer {
  position: fixed;
  left: 20%;
  background-color: #121212;
  top: 0;
  height: 100%;
  width: 80%;
}

.profileHolder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 3%;
  border-radius: 5px;
  background-color: #282828;
  min-width: 15%;
  cursor: pointer;
  transition: 0.4s;
}

.profileHolder:hover {
  background-color: #444444;
}

#MainViewHeaderContainer {
  width: 100%;
  padding: 20px 4%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#ProfileName {
  font-size: 16px;
  color: #fefefe;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 7%;
  flex: 3;
  white-space: nowrap;
}

#CardContainer {
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  padding: 3px 1.5%;
  /* grid-gap: 1%; */
  overflow: hidden;
  height: 255px;
  width: 100%;
  justify-content: center;
}

#CardContainerNameType {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 24px;
  color: #cacaca;
  margin: 10px 0;
  cursor: pointer;
}

.MainScrollView {
  height: 87%;
  width: 100%;
  overflow-y: scroll;
}

.MainScrollView::-webkit-scrollbar {
  width: 2.1231px; /* width of the entire scrollbar */
}

.MainScrollView::-webkit-scrollbar-thumb {
  background-color: #333; /* color of the scroll thumb */
  border-radius: 8px; /* roundness of the scroll thumb */
}